@font-face {
    font-family: KorolevBold;
    src: url("Korolev-Bold.woff") format("woff"), url("Korolev-Bold.ttf")  format("truetype");
}

@font-face {
    font-family: KorolevLight;
    src: url("Korolev-Light.woff") format("woff"), url("Korolev-Light.ttf")  format("truetype");
}

html, body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: KorolevBold;
    vertical-align: baseline;
}

.content-tile{
    height: 212px;
    width: 300px;

    display: inline-block;
    margin: 10px;

    vertical-align: top;
    background: no-repeat center;
    background-size: cover;
}

.content-tile::before{
    content: "";
    float: left;
    padding-top: 100%;
}

.content-tile div{
    visibility: visible;
    padding: 50px;
}

.content-tile span.title{
    width: 200px;
    height: 121px;
    display: table-cell;
    overflow: visible;
    background-color: rgba(131, 131, 131, 0.63);
    text-transform: uppercase;
    visibility: visible;
    color: #ffffff;
    font-family: KorolevBold;
    align-content:center;
    margin: 0 auto;
    font-size: 30px;
    vertical-align: middle;
}

#contents{
    padding-top: 0px !important;
    display: flex !important;
    align-items: center !important;
}

#contents #grid{
    width: 1000px;
    margin: 0 auto;
}

.slide_title{
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
    color: #3b3b3b;
    font-family: KorolevBold;
    font-size: 25px;
}

.slide_title .home{
    float:right;
    margin-right: 50px;
    text-transform: uppercase;
    padding: 5px;
    background-color: grey;
    color: #ffffff;
}

section{
    height: 100%;
    background: no-repeat center;
    background-size: cover;
}

.reveal .slides {
    height: 100%;
    top: 0;
    margin-top: 0;
}

.reveal .slides>section {
    min-height: 90%;
}

.reveal .slides>section>section {
    padding: 0 !important;
    min-height: 100%;
}

.reveal .controls #menuButton{
    background-color: black;
    left: 42px;
    top: 42px;
}