.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.slide{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 5px;
}

ul.slideList{
  list-style: none;
}

ul.slideList>li{
  display: inline-block;
  vertical-align: top;
  width: 200px;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

ul.slideList li button{
  float: right;
}

ul.slideList li input {
  width: 75%;
}

li.placeholder {background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here";
  color: rgb(225,210,90);
  display: inline-block;
}

.imageContainer label{
  width: 100%;
  height: 100px;
  color: #cccccc;
  display: block;
  font-size: 90px;
  margin: 5% auto;
  border: 2px solid #c3c3c3;
  background: #c3c3c3 no-repeat;
}

.imageContainer label::after { content: "+"; }
.imageContainer label.uploaded::after { content: "" !important; }

.imageContainer label:hover{
  border: 2px solid #000000;
}

.fileDialog{
  display: none;
}

.summaryToggle{
  width: 50px;
  height: 50px;
  background-color: #ccc;
}

.summaryToggle.enabled{
  background-color: #349bcc;
}

ul.childSlideList{
  list-style: none;
  padding: 0px;
  margin-top: 10px;
}

ul.childSlideList .imageContainer{
  float: left;
  margin: 5px 0;
}

ul.childSlideList .imageContainer label{

}

ul.childSlideList li{
  height: 80px;
  border-top: 1px solid #ccc;
}

ul.childSlideList li button{
  float: none;
}

ul.childSlideList li input{
  width: 70px;
  margin-top: 25px;
}

ul.childSlideList .imageContainer label{
  width: 75px;
  height: 50px;
}

ul.childSlideList .imageContainer label::after {
  content: "+";
  position: relative;
  top: -25px;
}

.nav {
  margin-top: 5px;
}

.nav button{
  background-color: #d0c8ff;
  border: 1px solid #636363;
  margin: 0 2px;
}

.nav button:active{
  background-color: #8e7bff;
}

.nav .autoscroll{
  margin-top: 5px;
}

